# Also run the command below to install latest Sphinx, and
# to install Sphinx's 'docs' dependency group:
#
#   pip install -e sphinx --group sphinx/pyproject.toml:docs

sphinx-intl>=2.2.0
sphinx-lint
transifex-python
python-dateutil
