name: update-translations

on:
  pull_request:
  schedule:
    - cron: "0 0 * * *" #runs at 00:00 UTC everyday

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    env:
      SPHINXINTL_TRANSIFEX_ORGANIZATION_NAME: sphinx-doc
      SPHINXINTL_TRANSIFEX_PROJECT_NAME: sphinx-doc
      TX_TOKEN: ${{ secrets.TX_TOKEN }}

    steps:
    - uses: actions/checkout@v4
    - name: Get date
      id: get-date
      run: |
        echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
        echo "yyyymm=$(/bin/date -u "+%Y%m")" >> $GITHUB_OUTPUT
      shell: bash
    - name: cache pip
      id: cache-pip
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/pip
          ~/.local/
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}-${{ steps.get-date.outputs.yyyymm }}
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: Check Python version
      run: python --version
    - name: Install graphviz
      run: sudo apt-get install graphviz
    - name: Install dependencies
      run: |
        git fetch origin master --depth 1
        git branch -a
        git checkout master  # attach this repo
        git submodule init
        git submodule update
        (cd sphinx; git fetch origin; git checkout master; git reset --hard origin/master; git branch -a)
        pip install -U pip setuptools
        pip install -r ./requirements.txt
    - name: Install Transifex CLI
      working-directory: /usr/local/bin
      run: |
        curl -o- https://raw.githubusercontent.com/transifex/cli/master/install.sh | bash
        tx --version
    - name: Update translations
      run: sh ./locale/update.sh
    - name: After success
      run: |
        git branch -a
        git checkout master  # attach this repo
        git config --global user.email "sphinx-auto-update"
        git config --global user.name "sphinx-auto-update"
        git add locale
        git add sphinx
        git commit -m "[skip ci] by GHA https://github.com/${{ github.repository }}/actions/runs/${{ github.run_number }}"
    - name: GitHub Push
      if: github.event_name != 'pull_request'
      uses: ad-m/github-push-action@v0.8.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
